@import "../../styles/abstracts/mixins"
  
.HowToUse
  --large-margin: 24px
  --middle-margin: 12px

  &__container
    padding: var(--large-margin) 0

    & > h1
      margin-bottom: var(--middle-margin)

    & > a 
      display: inline-block
      margin-bottom: var(--large-margin)
      
    & > p
      margin-bottom: var(--large-margin)

    & > ol
      margin-bottom: var(--large-margin)
      & > li
        list-style-type: decimal
        list-style-position: inside
        margin-bottom: 8px
        
        &:last-child
          margin: 0

        @include respond("tablet")
          list-style-position: unset

  &__code
    background: var(--primary)
    border-radius: 15px
    overflow: hidden

    & > pre
      margin: 0 !important
      padding: 0

    &-header
      display: flex
      justify-content: space-between
      align-items: center
      color: var(--background)
      padding: 6px 12px
