@import "../../styles/abstracts/_mixins"

.FileLoader
  --dnd-transition-speed: 0.2s
  width: 100%
  overflow: hidden
  border-radius: 10px
  border: 2px dashed var(--color)
  transition: border .3s
  height: 100%

  &__title
    color: var(--text-primary)

  &__dnd
    &-text
      color: var(--color)
      text-align: center
      padding: 4px 12px
      transition: color var(--dnd-transition-speed)

      @include respond("tablet") 
        padding: 0

  &__icon
    color: var(--color)
    transition: color var(--dnd-transition-speed)

  &__content
    width: 100%
    height: 100%
