@import "../../styles/abstracts/_mixins"

.FileLoader
  --dnd-transition-speed: 0.2s
  width: 100%
  overflow: hidden
  border-radius: 10px
  border: 2px dashed var(--color)
  transition: border .3s
  height: 100%
  cursor: pointer
