@import "../../styles/main"

.Header
  width: 100%
  display: flex
  align-content: center
  justify-content: center
  background: var(--secondary)
  min-height: var(--header-height)

  &__text
    color: var(--text-primary)
    transition: .2s

    &:hover
      color: var(--text-secondary)
    
    &:active
      color: var(--accent)

  &__container
    display: flex
    align-items: center
    @include respond-container